/* 背景画像を固定 */
.bgimg {
  position: fixed; /* 背景画像を画面に固定 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像が画面全体にフィット */
  z-index: -1; /* 背景画像を最背面に配置 */
  background-attachment: fixed; /* 背景をスクロールしても固定 */
}

/* .top セクション */
.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* 背景に透明度を追加 */
  color: #fff;
  overflow: hidden;
  padding: 120px 0;
  z-index: 1; /* コンテンツが背景の上に表示されるように */
  text-align: center; /* 中央揃え */
}

.title {
  font-size: 3rem;
  font-weight: bold;

  margin-bottom: 1rem;
}

.description {
  font-size: 1.5rem;
}

/* .profile セクション */
.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center; /* 横中央揃え */
  gap: 20px;
  text-align: center; /* テキスト中央揃え */
  padding: 40px 0;
  flex-direction: row-reverse; /* 画像とテキストを逆に配置 */
}

.profileImage {
  width: 420px; /* 画像のサイズ */
  height: 420px; /* 高さも指定して正方形に */
  object-fit: cover;
  border-radius: 50%; /* 画像を円形に */
  margin-top: 3rem;
}

.profileText .title {
  font-size: 2rem;
  color: #fff;
}

.profileText .description {
  font-size: 1rem;
  color: #fff;
}

/* .details セクション */
.details {
  text-align: center;
  color: #fff;
  padding: 100px 0;
}

.detailsist {
  display: flex;
  justify-content: center;
  gap: 50px; /* スペースを調整 */
}

.detailsist > * {
  position: relative;
}

/* .news セクション */
.news {
  position: relative;
  background-color: #fff;
  width: 840px;
  margin: -40px auto 0;
  padding: 24px 40px;
  border-radius: var(--border-radius);
}

.newsTitle {
  font-size: 1.5rem;
}

.newsLink {
  position: absolute;
  right: -40px;
  bottom: -40px;
}

/* メディアクエリ: 640px 以下の画面幅対応 */
@media (max-width: 640px) {
  .top {
    padding: 120px 16px;
  }

  .title {
    font-size: 2rem;
    text-align: left;
  }

  .description {
    font-size: 0.9rem;
    text-align: left;
  }

  .bgimg {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center center;
  }

  .news {
    width: calc(100% - 32px);
    padding: 16px 24px;
  }

  .newsLink {
    position: relative;
    right: auto;
    bottom: auto;
    margin-top: 16px;
  }

  /* .profile セクション */
  .profileContainer {
    flex-direction: column; /* スマホサイズでは縦並びに変更 */
    padding: 20px 0;
  }

  .profileImage {
    width: 100px; /* 小さく調整 */
    height: 100px; /* 高さも調整 */
    margin-bottom: 20px;
  }

  .profileText .title {
    font-size: 1.8rem;
  }

  .profileText .description {
    font-size: 0.9rem;
  }
}
