.footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--color-border);
  margin-top: 80px;
  padding-top: 40px;
}
/* 背景画像を固定 */
.bgimg {
  position: fixed; /* 背景画像を画面に固定 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像が画面全体にフィット */
  z-index: -1; /* 背景画像を最背面に配置 */
  background-attachment: fixed; /* 背景をスクロールしても固定 */
}


  /* .top セクション */
  .top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* 背景に透明度を追加 */
    color: #fff;
    overflow: hidden;
    padding: 100px 0;
    z-index: 1; /* コンテンツが背景の上に表示されるように */
  }
  
  .title {
    color: #fff;
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }
  
@media (max-width: 768px) {
  .footer {
    /* モバイル画面で中央配置 */
    align-items: center;
  }
}